$color-green: #1db954;
$color-light: #fff;
$color-dark: #191414;
$color-red: #ce2e2e;

.bg-green { background-color: $color-green; }
.bg-light { background-color: $color-light; }
.bg-dark { background-color: $color-dark; }
.fg-green { color: #1DB954; }
.fg-light { color: #FFF; }
.fg-dark { color: #191414; }
