$color-green: #1db954;
$color-light: #fff;
$color-dark: #191414;

.bg-green { background-color: $color-green !important; }
.bg-light { background-color: $color-light !important; }
.bg-dark { background-color: $color-dark !important; }
.fg-green { color: #1DB954 !important; }
.fg-light { color: #FFF !important; }
.fg-dark { color: #191414 !important; }
