@import "colors";
@import "spacing";

$transition-duration: 0.3s;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  background: $color-dark;
  font-size: 14px;
  font-family: sans-serif;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.block {
  display: block;
}

.centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.full-width {
  width: 100%;
}

button,
input[type=submit] {
  padding: 15px 20px;
  min-width: 120px;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  // for disabled state
  transition: opacity $transition-duration linear;

  &[class^=bg-] {
    border: 1px solid transparent;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.0);
    filter: brightness(0.7);
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }
}

input[type=text] {
  border: none;
  padding: 15px 20px;
  border-radius: 23px;
  background: rgba(white, 0.08);
  color: white;
  font-size: 14px;
}

input[placeholder] { text-overflow: ellipsis; }

.loader {
  transition: opacity $transition-duration ease-in;
  opacity: 0;

  &.visible {
    transition-delay: $transition-duration*2;
    opacity: 1;
  }

  & > div {
    width: 10px;
    height: 10px;
    background-color: $color-green;
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
    animation: bounce 1.2s infinite ease-in-out both;

    &.bounce2 {
      animation-delay: 0.2s;
    }

    &.bounce3 {
      animation-delay: 0.4s;
    }
  }
}

@keyframes bounce {
  0%, 50% { 
    transform: scale(1);
  }
  25% { 
    transform: scale(1.4);
  }
}

#fetch-playlist {
  form {
    position: relative;
    transition: opacity $transition-duration ease-out,
                transform $transition-duration ease-out;
    transition-delay: $transition-duration*2;

    &.slide-up {
      opacity: 0;
      transform: translateY(-210px);
      transition: opacity $transition-duration ease-in,
                  transform $transition-duration ease-in;
      transition-delay: 0;
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #fetch-playlist-result {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
 
    &.success { background: $color-green; }
    &.error { background: $color-red; }
  }
}
